@media all and (min-width:150px) {
  #logo{
    width:15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
}

#menu{
       text-align: center;
       margin-bottom: 30px;
       margin-top: 60px;
     }
     
     @media all and (min-width:320px) {
      #mainimg{
       min-width: 320px;
       max-width: 800px;
      }
    }

   #menu a {
       margin-left: 10px;
       margin-right:10px;
       font-size: 16px;
       color: #58495b;
       text-decoration: none;
       font-family: Helvetica, Arial, sans-serif;
     }
     
    
#mainimg{
    display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 200px;
}

.serch{
    text-align: center;
   }

   #c{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
   }

   p{ 
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
   }
   
   ul{ 
    width: 500px;
  margin-left: auto;
  margin-right: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
   }

   #list1{
    margin-bottom: 30px;
    margin-top: 30px;
   }

   .half_hl{
    display: inline;
    background: linear-gradient(to top, #FFD199 30%, transparent 30%);
   }
