div {
    display: flex;
    justify-content: center;
}

#logo{
    margin: auto;
    display: block;
    margin-top: 80px;
}

img {
    margin: auto;
    display: block;
}

#mainimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }

#menu{
       text-align: center;
       margin-bottom: 30px;
       margin-top: 60px;
     }

   
   

   #menu a {
       margin-left: 10px;
       margin-right:10px;
       font-size: 16px;
       color: #58495b;
       text-decoration: none;
       font-family: Helvetica, Arial, sans-serif;
     }
     
    


.serch{
    text-align: center;
   }

   #c{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Helvetica, Arial, sans-serif;
   }

   p{ 
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
   }
   
   ul{ 
    width: 500px;
  margin-left: auto;
  margin-right: auto;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
   }

   #list1{
    margin-bottom: 30px;
    margin-top: 30px;
   }

   .half_hl{
    display: inline;
    background: linear-gradient(to top, #FFD199 30%, transparent 30%);
   }
